<div class="list-element box">
	<a class="color-main">www.url.com</a>
	<i class="far fa-trash-alt color-error"></i>
	<p>
		At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.
	</p>
</div>
<div class="list-element box">
	<a class="color-main">www.url.com</a>
	<i class="far fa-trash-alt color-error"></i>
	<p>
		At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.
	</p>
</div>
<div class="list-element box">
	<a class="color-main">www.url.com</a>
	<i class="far fa-trash-alt color-error"></i>
	<p>
		At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.
	</p>
</div>