:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;

	::ng-deep button[type='submit'] {
		display: block;
		max-width: 370px;
		margin: 0px auto;
	}
}

.auth-cornet {
	position: absolute;
	top: 48px;
	right: 48px;
}

img {
	margin-top: -10vh;
}

.auth-container {
	max-width: 560px;
	width: 100%;
	padding: 56px 32px;
}
