
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #007AFF;

@border-radius-base: 4px;

// Buttons
@btn-default-color: @primary-color;
@btn-default-border: @primary-color;
@btn-padding-horizontal-base: 30px;

// Inputs 
@input-height-base: 48px;
@input-padding-horizontal: 20px;

.color-main {
	color: @primary-color;
}